<div class="container">
  <div class="inner-container">
    <mat-card>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let film of films" [value]="film">
          {{ film.title }}
        </mat-list-option>
      </mat-selection-list>
    </mat-card>
    <mat-card>
      <h2><strong>Film Title:</strong> Awesome Film</h2>
      <p><strong>Director: </strong> The Director</p>
      <p><strong>Producer: </strong> Producer1, Producer2</p>
    </mat-card>
  </div>
</div>
