.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  padding: 1rem;
}

.link {
  color: white;
  text-decoration: underline;
}
