<div class="container">
  <mat-card>
    <h1>Angular Live Coding Test</h1>
    <mat-divider></mat-divider>
    <ol class="list">
      <li>
        <a class="link" routerLink="/form-validation"
          ><strong>Form Validation</strong></a
        >
        - Create a validation in a form before submitting
      </li>
      <li>
        <a class="link" routerLink="/table"><strong>Table</strong></a>
        - Load data using an API (via HTTP) and display it in the table
      </li>
      <li>
        <a class="link" routerLink="/products"
          ><strong>Product Details</strong></a
        >
        - Display details of a product from a list
      </li>
    </ol>
  </mat-card>
</div>
